<main id="main" class="main">
   <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item">User</li>
            <li class="breadcrumb-item active">Profile</li>
         </ol>
      </nav>
   </div>
   <section *ngIf="currentUser;"   class="section profile">
      <div class="row" >
         
         <div  class="col-xl-8">
            <div class="card">
               <div class="card-body pt-3">
                  <ul class="nav nav-tabs nav-tabs-bordered">
                     <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button></li>
                
                     
                     <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Edit Password</button></li>
                  </ul>
                  <div class="tab-content pt-2">
                     <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        
                        <h5 class="card-title">Profile Details</h5>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label "> Name</div>
                           <div class="col-lg-9 col-md-8">{{ currentUser.username }}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Surname </div>
                           <div class="col-lg-9 col-md-8">{{ currentUser.prenom }}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Department </div>
                           <div class="col-lg-9 col-md-8">{{ currentUser.departement }}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Email</div>
                           <div class="col-lg-9 col-md-8">{{ currentUser.email }}</div>
                        </div>
                        
                     </div>
                    
                     
                     <div class="tab-pane fade pt-3" id="profile-change-password">
                        <form>
                           <div class="row mb-3">
                              <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                              <div class="col-md-8 col-lg-9"> <input name="password" type="password" class="form-control" id="currentPassword"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                              <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" class="form-control" id="newPassword"></div>
                           </div>
                           <div class="row mb-3">
                              <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                              <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" class="form-control" id="renewPassword"></div>
                           </div>
                           <div class="text-center"> <button type="submit" class="btn btn-primary">Change Password</button></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>