<main id="main" class="main">
    <div class="pagetitle">
       <h1>Responses</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
          
             <li class="breadcrumb-item active">Responses</li>
          </ol>
       </nav>
    </div>
    <section class="section">
        <div class="row">
           <div class="col-lg-12">
              <div class="card">
                 <div class="card-body">
                    <h5 class="card-title">Responses</h5>
                    <div class="search">
                    
                     <input class="searchTerm" type="text"[(ngModel)]="motCle" 
                    />
                    <button class="bi bi-search" (click)="chercher()"></button>
                    <button class="bi bi-x"(click)="cancal()"></button>
                  
                   </div>
                    <table class="table table-sm">
                       <thead>
                          <tr>
                            
                           
                             <th scope="col">Date of request</th>
                             <th scope="col">Type of request</th>
                             <th scope="col">Status</th>
                             
                            
                          </tr>
                       </thead>
                       <tbody>
                          <tr *ngFor=" let k of demande | paginate: { itemsPerPage: itemPerPage, currentPage: p }   ">
                            
                           
                             <td>{{k.date}}</td>
                             <td>{{k.type_Request}}</td>
                             <td>{{k.status}}</td>
                          <td><button    routerLink="details-user/{{ k.id_tiquete}}" class="btn btn-primary">View</button></td>
                          
                         
                        </tr>
                         
                          
                    
                       </tbody>
                    </table>
                    <div>
                     <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                  
                 </div>
              </div>
           </div>
        </div>
     </section>
    
   
 </main>