<main id="main" class="main">
    <div class="pagetitle">
       <h1>Return Voucher</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
             <li class="breadcrumb-item">Return Voucher</li>
             <li class="breadcrumb-item active">Request</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-lg-6">
             <div class="card">
                <div class="card-body">
                    <div> <img style="width: 290px;position: relative;margin-left: 50px;" src="assets/img/Image2.png" alt=""></div>
                    <h5 style="text-align: center;font-family:Verdana;font-weight: 700;font-size: 37px;color: rgb(79,129,183);" class="card-title">IT Asset return voucher</h5>
                  
                   
                   <form  [formGroup]="productform" (ngSubmit)="addDemandeReturn()">
                      <div><label style="font-size: 13px;font-family:Arial;padding-left: 60px;" for="validationCustom01" class="form-label">I,the undersigned, Mr / Mrs
                        <label style="position: relative;left: 9px;font-weight: 700;font-size: 13px;font-family:Arial;" for="validationCustom02" class="form-label">{{demandes?.user.username}} {{demandes?.user.prenom}} </label>
                        <label style="position: relative;left: 39px; font-family:Arial;font-size: 13px">
                            working as
                        </label>
                    </label></div>
                      
                   <div> <label style="font-size: 13px;font-family:Arial;padding-left: 60px;font-weight: 700;" for="validationCustom01" class="form-label">{{demandes?.user.departement}}
                    <label style="position: relative;left: 8px;font-weight: normal;font-size: 13px;font-family:Arial;" for="validationCustom02" class="form-label">Within the ATC company confirm that I benefited from the</label>
                    
                </label></div>  
                   
                      <div style="font-size: 13px;font-family:Arial;padding-left: 60px;">No longer needing to use it, I return it today:</div>
                      
                    
                    
               
                   
<ng-container >
    <div class="container">
        <div  class="card-table">
            <div style="padding-top: 50px;" class="cart-product">
                <table  formArrayName="materielRetour" style="padding-top: 50px;" class="table-bordered border-primary">
                    <thead style="background-color:rgb(75,172,198);">
                        <tr >
                            <th style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;">ASSET
                                (C.U, Screen,
                                keyboard,
                                telephone...</th>
                            <th style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;">MODEl
                                (For instance :
                               optiplex3040, E2417,
                               Samsung...)</th>
                            <th style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;">S/N</th>
                                <th style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;">Low level
                                    formatting done
                                    </th>
                                    <th style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;">Comments</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of materiels.controls;let i=index" [formGroupName]="i">
                            <td style="width:15%;height: 40px;" ><select  formControlName="equipement"    name="equipement"  id="gridRadios1" value="option1" style="width:150px;height: 50px;font-family: Arial;font-size: 16px;" class="form-select" id="validationCustom04" >
                                <option style="font-family: Arial;font-size: 16px;"  value="">Choose...</option>
                                <option   value="C.U"  for="gridRadios1"  style="font-family: Arial;font-size: 16px;">C.U</option>
                                <option  value="Screen"  for="gridRadios1"   style="font-family: Arial;font-size: 16px;">Screen</option>
                                <option  value="keyboard"  for="gridRadios1"  style="font-family: Arial;font-size: 16px;">keyboard</option>
                                <option  value="telephone"  for="gridRadios1"  style="font-family: Arial;font-size: 16px;">telephone</option>
                              </select></td>
                            <td style="width:15%;height: 50px;"><select  formControlName="model" name="model" id="gridRadios2" value="option2" style="width: 150px;height: 50px;"class="form-select" id="validationCustom04" >
                                <option  value="">Choose...</option>
                                <option value="optiplex3040" for="gridRadios2">optiplex3040</option>
                                <option value="E2417" for="gridRadios2">E2417</option>
                                <option value="Samsung" for="gridRadios2">Samsung</option>
                                
                              </select></td>
                              <td style="width:25%;height: 40px;"><input formControlName="serial" placeholder="S/N" style="width:100%;height: 48px;" type="text"></td>
                           <td  style="width:20%;height: 40px;">
                            <select formControlName="level" style="width:100%;height: 48px;"  class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Choose...</option>
                            <option value="Yes" for="validationCustom04">Yes</option>
                            <option value="No" for="validationCustom04">No</option>
                            <option value="NA" for="validationCustom04">NA</option>
                            
                          </select></td>
                          <td style="width:50%;height: 50px;"><input formControlName="comment" placeholder="Comments" style="width:100%;height: 50px;" type="text"></td>
                        </tr>



                       


                      
                        
                     
                    </tbody>
                </table>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <a  class="bi bi-plus" (click)="addRow()" ></a>
                        </td>
                    </tr>
                </tfoot>
            </div>
        </div>
    </div>
</ng-container>
<h5><label style="font-size: 13px;font-family:Arial;padding-left: 60px;" for="validationCustom01" class="form-label">No longer needing to use it, I return it today
    <label style="position: relative;left: 9px;font-weight: 700;font-size: 13px;font-family:Arial;" for="validationCustom02"  class="form-label"><div class="col-sm-10"> <input formControlName="date_retour" style="font-family: Arial;font-size: 13px;width: 180px;" name="date"  type="date" class="form-control"></div></label>
    <label style="position: relative;left: 39px; font-family:Arial;font-size: 13px">
        and I decline any future
        
    </label>
</label></h5>
<h5  style="font-size: 13px;font-family:Arial;padding-left: 60px;" > responsibility arising from the material.</h5>
<h5  style="font-size: 13px;font-family:Arial;padding-left: 60px;" > Remaining available for any further information.</h5>

<fieldset class="row mb-3">
    <legend style="font-size: 13px;font-family:Arial;padding-left: 72px;" class="col-form-label col-sm-14 pt-0">Reason for returning the equipment:</legend>
    <div style="position: relative;left: 350px;" class="col-sm-10">
       <div class="form-check"> <input formControlName="reason" class="form-check-input" type="radio"  id="gridRadios1" value="Resignation" checked> <label class="form-check-label" for="gridRadios1"> Resignation </label></div>
       <div class="form-check"> <input formControlName="reason" class="form-check-input" type="radio"  id="gridRadios2" value="End of project"> <label class="form-check-label" for="gridRadios2"> End of project </label></div>

    </div>
 </fieldset>
 
 <div><label style="font-size: 13px;font-family:Arial;padding-left: 60px;" for="validationCustom01" class="form-label">The material has been verified by:
    <label style="position: relative;left: 9px;font-weight: 700;font-size: 13px;font-family:Arial;" for="validationCustom02" class="form-label"> {{username}} {{prenom}}</label>
    
</label></div>
                     
<p style="font-weight: 700;">Signature of the Checker</p>
<div class="col-md-6">
    <div style="background-color: rgb(183, 221, 232);width: 300px;height: 150px;" class="signature-container">
        <signature-pad  [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
      </div>
      
      <div class="buttons">
        <button (click)="clearSignature()">Clear signature pad</button>
        
      </div>   
</div>    
               
                  
                      <div class="row mb-3">
                         
                         <div class="col-sm-10"> <button style="position: relative;left: 610px;background-color:rgb(75,172,198);" type="submit" class="btn btn-primary">Submit Form</button></div>
                         <p></p>
                         <p></p>
                         <label style="color: rgb(67,200,203);font-family: Trebuchet MS;font-size: 11px;position: relative;left: 90px;" for="validationCustom01" class="form-label">ATC Use Only<label style="position: relative;left: 430px;color:rgb(166, 166, 166);font-family: Lucida Sans Unicode;font-size: 12px;" for="validationCustom02" class="form-label">COM_TMP_IT_011_EN-03</label></label>
                      </div>
                   </form>
                </div>
             </div>
          </div>
          
       </div>
    </section>
 </main>