<main id="main" class="main">
    <div class="pagetitle">
       <h1>Create new request</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Create new request</li>
             
          </ol>
       </nav>
    </div>
    <section class="section" >
       <div class="row">
          <div class="col-lg-6">
             <div class="card">
                <div class="card-body">
                    <div> <img style="width: 290px;position: relative;margin-left: 590px;" src="assets/img/Image2.png" alt=""></div>
                   <h5 style="text-align: center;font-family:Verdana;font-weight: 700;font-size: 24px;color: rgb(79,129,183);" class="card-title">
                    Create new request</h5>
                  
                    <form [formGroup]="productform" (ngSubmit)="testEditorContent()">
                     
                     <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Type of request</label>
                        <div style="width: 250px;" class="col-sm-10">
                           <select formControlName="type_Request" class="form-select" id="dd" aria-label="Default select example">
                              <option value="" disabled>Open this select menu</option>
                              <option value="Asset Handover Form" for="dd">Asset Handover Form</option>
                              <option value="ASSET CHANGE FORM" for="dd">ASSET CHANGE FORM</option>
                              <option value="IT Asset return voucher" for="dd">IT Asset return voucher</option>
                           </select>
                        </div>
                     </div>
                     <p class="input-text">Message</p>
                     <div class="input-group"> <textarea formControlName="message" name="message" placeholder="message" class="form-control" aria-label="With textarea"></textarea></div>
                        <p> </p>
                     <div class="col-sm-10"> <button  style="position: relative;left: 740px;background-color:rgb(75,172,198)" type="submit" class="btn btn-primary">Submit Form</button></div>
                     </form>
                      <div class="example-button-row" style="text-align:center;padding-top:5px;">
                       
                      </div>
                </div>
             </div>
          </div>
          
       </div>
    </section>
 </main>