<main id="main" class="main">
    <div class="pagetitle">
       <h1>Asset Handover Form</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Requests</li>
             <li class="breadcrumb-item active">Asset Handover Form</li>
          </ol>
       </nav>
    </div>
    <section  *ngFor="let n of demandes" class="section" >
        <div class="row">
           <div class="col-lg-6">
              <div class="card">
                 <div class="card-body">
                     <div> <img style="width: 290px;position: relative;margin-left: 590px;" src="assets/img/Image2.png" alt=""></div>
                    <h5 style="text-align: center;font-family:Verdana;font-weight: 700;font-size: 24px;color: rgb(79,129,183);" class="card-title">Asset Handover Form</h5>
                    <p style="font-family: Arial;font-size: 13px;color: #000;">ATC company entrusts to Mr/Mrs, subsequently referred to as « employee »</p>
                    <form  >
                       <div class="row mb-3">
                          <label 
  
                          style="font-family: Arial;font-size: 13px;" for="inputText" class="col-sm-2 col-form-label">Name :
                          <label  name="nom" style="font-family: Arial;font-size: 13px;position: relative;left: 14px;" class="col-sm-14">{{n.user.username}}</label></label>
                       </div>
  
                    
  
                       <div  class="row mb-3">
                          <label style="font-family: Arial;font-size: 13px;" for="inputEmail" class="col-sm-2 col-form-label">Surname :
                          <label style="font-family: Arial;font-size: 13px;position: relative; left: 14px;" class="col-sm-14">{{n?.user.prenom}}</label></label>
                       </div>
                       <div style="font-family: Arial;font-size: 13px;" class="row mb-3">
                         <label 
  
                         style="font-family: Arial;font-size: 13px;" for="inputText" class="col-sm-10 col-form-label">Department :
                         <label  name="nom" style="font-family: Arial;font-size: 13px;position: relative;left: 14px;" class="col-sm-14">{{n?.user.departement}}</label></label>
                      </div>
                      
                     
                       <div style="font-family: Arial;font-size: 13px;" class="row mb-3">
                        <label 
 
                        style="font-family: Arial;font-size: 13px;" for="inputText" class="col-sm-10 col-form-label">Asset allocation date :
                        <label  name="nom" style="font-family: Arial;font-size: 13px;position: relative;left: 14px;" class="col-sm-14">{{n?.date}}</label></label>
                     </div>

                      <div style="font-family: Arial;font-size: 13px;" class="row mb-3">
                        <label 
 
                        style="font-family: Arial;font-size: 13px;" for="inputText" class="col-sm-10 col-form-label">Allocation motive :
                        <label  name="nom" style="font-family: Arial;font-size: 13px;position: relative;left: 14px;" class="col-sm-14">{{n?.allocation_motive}}</label></label>
                     </div> 
                      
                
                      <p style="font-family: Arial;font-size: 13px;color: #000;">The Following asset :</p>
  
                      <table   style=" border:1px solid rgb(230, 230, 230);border-radius: 15px;" class="table-bordered border-primary">
                         <thead  style="background-color:rgb(75,172,198);">
                           <tr style="background-color:rgb(75,172,198);">
                             <td style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;"class="tdBorderEmail"><label>Equipment
                                 (C.U, Screen,
                                 keyboard,
                                 telephone...</label></td>
                             <td style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;" class="tdBorderEmail"><label>MODEl
                                 (For instance :
                                 optiplex3040, E2417,
                                 Samsung...)</label></td>
                             <td style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;" class="tdBorderEmail"><label>SERVICE TAG / SERIAL
                                 NUMBER (S/N)</label></td>
                             <td style="font-family: Arial;font-size: 16px;color:rgb(255,255,255);font-weight: 700;text-align: center;" class="tdBorderEmail"><label>Comments</label></td>
                             
                           </tr>
                         </thead>
                        
                         <tbody  >
                          
                             <tr  *ngFor="let k of n?.materiel" >
                             
                              <td>{{k?.equipement}}</td>
                              <td>{{k?.model}}</td>
                              <td>{{k?.serial}}</td>
                              <td>{{k?.comment}}</td>
                                 </tr>
                               <tr>
                                
                                 
                               </tr>
                           
                          
                         </tbody>
                         
                       </table>
                      
                      
                    
                      
             <p style="font-family: Arial;font-size: 13px;color: #000;padding-left: 35px;">This asset remains the property of the company</p>
             <p style="font-family: Arial;font-size: 13px;color: #000;padding-left: 35px;" > It is agreed that the employee shall not use this asset for any other purposes than professional purposes without the
                 express and prior authorization of the company.</p>
                 <p style="font-family: Arial;font-size: 13px;color: #000;padding-left: 35px;"> The employee commits to return the integrality of the said entrusted asset at the time of his departure of the company
                     regardless of the reason for departure.</p>
                     <p style="font-family: Arial;font-size: 13px;color: #000;padding-left: 35px;">   In case of theft, I commit myself to file a complaint to the nearest police station and forward, within 48h, the original of
                         the complaint to the IT department.</p>
                     <p style="font-family: Arial;font-size: 13px;color: #000;padding-left: 35px;">
                     
                     
                   
                      In case of loss, I commit myself to inform by mail, without delay, the IT service or the General Services.</p>
                      <div  class="row mb-3">
                        <img style="width: 400px;" src='{{ n?.dataURLEmploye}}' />
                        
                      </div>
                      <div class="row mb-3">
                          
                          
                          
                          <p></p>
                          <p></p>
                         
                          <label style="color: rgb(166, 166, 166);font-family: Trebuchet MS;font-size: 11px;position: relative;left: 90px;" for="validationCustom01" class="form-label">Company Confidential<label style="position: relative;left: 430px;color:rgb(166, 166, 166);font-family: Lucida Sans Unicode;font-size: 12px;" for="validationCustom02" class="form-label">COM_TMP_IT_005_EN – 03</label></label>
                         </div>
                    </form>
                 </div>
              </div>
           </div>
           
        </div>
     </section>
 </main>